/******************************** */
/********* Colors *************** */
/******************************** */

$white: #fff;
$black: #000;
$light-green: #ECF7F2;
$med-green: #799c8a;
$light-brown: #d7d7cd;
$green-brown: #92927c;
$dark-brown: #4d4d42;
$very-light-tan: #f8f8f6;
$light-tan: #f4f4ee;
$tan: #fbfbf6;
$gray: #777777;
$dark-gray: #424242;
$light-gray: #cbcfd1;
$green-gray: #d4e2e6;
$blue-gray: #37444e;
$modal-background: rgba(66,66,66, 0.8);

$bold-title: #4d4d42;
$light-text: #b4b4aa;

$button-border: #91b57c;

$linear-white-gradient-second: #fbfcfb;
$linear-white-gradient-third: #eff2f1;
$radial-gradient-from: $light-tan;
$radial-gradient-to: #dad9cd;
$liner-green-gradient-top: #dfffc2;
$linear-green-gradient-second: #bcd89e;
$linear-green-gradient-third: #9ac084;
